<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <p class="text-muted" style="padding-top:10px;"><small>Copyright &copy; Federico Arribas</small></p>
  </div>
</nav>